<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>about</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
body{
background-color: #EDEDEE;
min-height: 100vh;
}
  .card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .card-img-top {
    width: 25%; /* Adjust the size of the image */
    margin: 0 auto; /* Centers the image */
    display: block;
    padding-top: 10px; /* Adds some space between the top of the card and the image */
  }
</style>
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8" style="left: 15%;">
      <div class="card card-shadow ">
        <img  src="../../assets/img/uit.png" class="card-img-top" alt="sucess" >
        <div class="card-body" style="text-align: center;">
        <h3>About Us</h3>
          <p class="card-text mb-4">This frum works towards organising and uniting everyone associated with Knowledge Economy sector. The areas of our intervention include IT,</p>
          <a th:href="@{/}" class="btn btn-primary">Go back</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
