<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>forget password</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="../../css/login.css"/>
</head>
<body>
<div class="login-form" >
    <form id="loginForm" th:action="@{/forgetpass}" method="post">
    <div class="imgdiv"><a th:href="@{/}"><img alt="uit" src="../../assets/img/uit.png" width="200px"></a></div>
    	
        <h2 class="text-center">Forget password</h2>  
        <p style="color: green;" th:if="${newPassword != null}"  class="alert alert-success" role="alert">
        Your new password is: <span th:text="${newPassword}"></span>
    </p>
     <div th:if="${loginError}" class="alert alert-danger" role="alert">
        user Not Found. Please try again.
    </div> 

   
        <div class="form-group">
            <input type="text" id="cin" class="form-control" placeholder="insert CIN here"  name="cin" required="required"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">new password</button>
        </div>
        <div class="form-group imgdiv">  
        Don't have an account!<a th:href="@{/login}">&nbsp;Sign In Here</a>
        </div>
    </form>
</div>

</body>
<footer>
			
			<strong>Copyright &copy; Forum 2023 <a
				href="https://fs.uit.ac.ma/">Faculte of science</a>.
			</strong> All rights reserved.
		</footer>
</html>            